@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(129, 242, 170);
}
